
  #SpeechButton {
    width: 30px;
    height: 38px;
    background-color: rgb(145, 145, 145);
    position: relative;
    z-index: 1499;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;  
    -moz-transition: all .5s ease-in-out;  
    -o-transition: all .5s ease-in-out;  
    -ms-transition: all .5s ease-in-out;  
    transition: all .5s ease-in-out;  
  }
  
  #SpeechButton:hover {
    background-color: rgb(94, 94, 94)
  }

  #SpeechButton i {
    width: 10px;
    height: 10px;
    margin-left: 14px;
    margin-top: 10px;
  }
  
  #PulseRing {
    display: none;
    content: '';
    width: 80px;
    height: 80px;
    border: 5px solid teal;
    border-radius: 50%;
    position: absolute;
    animation: pulsate infinite 2s;
    left: -20px;
    top: -20px;
  }
  
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(1, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  #StartInput {
      font-size: 1em;
      color: rgb(126, 20, 1);
      padding-top: 5px;
  }
  
